#menu-toggle {
  display: none;
}

#menu-label {
  display: none;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  left: 0;
  padding: 5px;
  padding-right: 5px;
  padding-left: 8px;
}

.main-body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(page-icons/main-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1000;
}


.container {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.leftNav {
  width: 45%;
  padding: 7px 20px;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  color: rgb(10, 115, 93);
}

.rightNav {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.rightNav a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.verticalNav {
  width: 0px;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: width 0.3s ease;
}

.verticalNav a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding-top: 15px;
}

.mainText {
  display: flex;
}

.mainText,
.textContent {
  width: auto;
  text-align: center;
  letter-spacing: -0.25px;
  bottom: 21%;
  justify-content: center;
  align-items: center;

}

.textContent {
  position: fixed;
  width: auto;
  margin:80px;
  color: #000000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 42px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.20px;
  text-align: center;
  background-color: #faf7b7;
  border-radius: 20px;
  padding:15px;

}

.switchButton {
  font-size:18px;
  border: 3px solid #033866;
  border-radius: 20px;
  color: black;
  display: inline-block;
  padding: 8px 28px;
  text-decoration: none;
  background-color: rgb(222, 242, 255);
}

.buttonArea {
  position: fixed;
  bottom: 18%;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

@media (max-width:700px){
  .rightNav {
    display: none;
  }

  #menu-toggle:checked~.verticalNav {
    width: 200px;
  }

  #menu-label {
    display: flex;
  }
}

@media (max-width: 700px), (max-height:700px) {
  .verticalNav a {
    font-size: 17px;
    padding-top: 15px;
  }

  .mainText,
  .textContent {
    width: auto;
    margin: 70px;
    letter-spacing: -0.25px;
  }

  .textContent {
    width: 700px;
    font-size: 35px;
    margin-bottom: 110px;
  }

  .buttonArea {
    bottom: 18%;
  }

  .switchButton{
    font-size:23px;
    padding:8px 8px;
  }
}

@media (max-width: 600px) , (max-height:600px) {
  .mainText,
  .textContent {
    bottom: 70px;
    margin: 60px;
    margin-bottom: 100px;
  }
  .textContent {
    width: auto;
    font-size: 28px;
  }
}

@media (max-height:500px), (max-width: 500px)  {
  .mainText,
  .textContent {
    bottom: 80px;
    margin: 50px;
    margin-bottom: 60px;
  }

  .textContent {
    font-size: 23px;
  }

  .switchButton {
    font-size: 18px;
  }

  .buttonArea {
    bottom: 16%;
  }
}

@media (max-height:400px),  (max-width: 400px)   {
 

  .textContent {
    font-size: 19px;
    bottom: 80px;
    margin:40px;
    margin-bottom: 30px;
  }

  .switchButton {
    font-size: 14px;
  }

  .buttonArea {
    bottom: 13%;
  }
}

@media (max-height:300px),  (max-width: 300px)   {
 

  .textContent {
    font-size: 16px;
    bottom: 60px;
    margin:40px;
    margin-bottom: 20px;
  }

  .switchButton {
    font-size: 11px;
  }

  .buttonArea {
    bottom:10%;
  }
}