.input-body{
    margin:0;
    padding: 0;
    background-image: url(file:///Users/yovelaadelinabudiman/Desktop/Website%20Design/4.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;

    align-items: center;
    justify-content: center;

}

.input-title-text{
    color:white;
    margin:90px;
    margin-bottom:40px;
    font-size:75px;
    text-align:center;
}

.form-input-container {
    width: auto;
    letter-spacing: -0.25px;
    margin: 0;
    margin-top:90px;
  
    display:flex;
    align-items: center;
    justify-content: center;
}

.form-label {
    display: block;
    /* margin-bottom: 8px; */
    color:white;
    font-size:25px;
}

.form-input {
    width:400px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size:20px;
}

.switchButton{
    margin-bottom:60px;
}