.input-body {
    margin: 0;
    padding: 0;
    background-image: url(page-icons/input-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh-20px);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;

}

.input-title {
    margin: 70px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-title-text {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 90px;
    padding: 0;
    color: rgb(27, 5, 99);
}

.form-input-container {
    width: auto;
    letter-spacing: -0.25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 0;
}

.form-label {
    display: block;
    color: #fbf88b;
    font-size: 20px;
    font-weight:600;
    margin-bottom:5px;
}

.form-input {
    width: 400px;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size: 13px;
}
@media (max-width: 900px) {
    .input-title-text {
        font-size: 35px;
        margin: 5px 10px 0 10px;
    }

    .form-input-container {
        flex-direction: column;
        margin-top: 20px;
    }

    .form-label {
        font-size: 15px;
    }
}