.profile-body {
    margin: 0;
    padding: 0;
    background-image: url(page-icons/profile-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: calc(100vh-20px);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.profile-title {
    font-size: 8vw;
    margin: calc(6.5vh + 25px) 3vw 0 3vw;
    padding: 0;
    color: rgb(27, 5, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.profile-title-container {
    width: auto;
    padding: 0;
    margin: 2vw;
    margin-left: 25px;
    margin-bottom: 1vw;
    align-items: center;
    justify-content: center;
}
  

.profile-details {
    display: flex;
    flex-direction: column;
    margin: 20px 0 15px 115px;
}

.detail-content {
    margin: 10px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 430px;
}

.label {
    text-align: left;
    flex: 1;
    font-size:20px;
    font-weight:700;
  }

  .input-field {
    text-align: right;
    flex: 1;
    font-size:20px;
  }



@media (max-width: 800px) and (max-height:800px) {

    .profile-details{
        margin-left:25px;
    }

    .detail-content {
        width:250px;
        padding:15px;
    }
    
    .label {
        font-size:15px;
        font-weight:700;
      }
    
      .input-field {
        font-size:15px;
      }
}