.progress-title-text{
  font-size:62px;
  margin:15px 0 0 80px;
  padding:0;
  color:rgb(27, 5, 99);
}
.progress-text{
  font-size:15px;
  margin:0 0 0 90px;
  padding:0;
  color:rgb(27, 5, 99);
}

.progress-title{
  width:auto;
  padding:0;
  margin:auto;
  align-items: center;
  justify-content: center;
}

.progress-body {
  margin:0;
  padding: 0;
  background-image: url(file:///Users/yovelaadelinabudiman/Desktop/efhwofw.png);
  background-size: cover;
  height:100vh;
  font-family: 'Arial', sans-serif;
  align-items: center;
  justify-content: center;
  
}

.progress-table {
  margin: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 25px 25px;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px; 
 
}

.progress-box{
  border-radius: 20px;
  padding: 35px 20px;
  margin: 30px;
  background-color: white;

}

.progress-icons {
  margin-bottom: 25px;
  max-width: 100%;
}

.progress-header {
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
}

.progress-description {
  margin: 25px;
  color: #000000;
}

.progress-description-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.progress-amount {
  color:rgb(27, 5, 99);
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin-top:25px;
}

@media (max-width: 1100px){
  .progress-table {
    flex-direction: column;
    margin:0;
  }
  .progress-box {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .progress-box:last-child {
    border-right: none;
  }
  
  .progress-title-text{
    margin:0;
    padding:25px;
    font-size:50px;
  }
  .progress-text{
    display:none;
    
  }
}
