*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signup-body {
    background-image: url(page-icons/profile-bg.png);
    align-items: center;
    font-family: 'Arial',sans-serif;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
}

.signup-form {
    margin:calc(11vh + 8px) 0 10px 0;
    flex-direction: column;
    width: 350px;
    background-color: rgba(243, 255, 244, 0.827);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
}
.signup-form *{
    font-family: 'Arial',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
}
.signup-form h3{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color:#0749ce;
}

.label-login{
    display: flex;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0 10px;
    margin: 8px 8px 8px 0;
    font-size: 14px;
    font-weight: 300;
    color: rgb(0, 0, 0);
}
::placeholder{
    color: #534e4e;
}
button {
    margin: 25px 0;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #ffffffcd;
}

.social{
  margin-top: 30px;
  display: flex;
}

.detail-div {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.login-msg {
    text-align: center;
    margin: 15px;
    font-size: 0.9rem;
}

.login-link,.login-link:visited {
    font-size: 0.8rem;
    color: #0749ce;
}

.login-link:active {
    color: #0749ce;
}

.alert-box {
    box-sizing: border-box;
    padding: 15px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.901);
    color: black;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    text-align: center;
    animation: dropIn 2.5s linear;
    font-family: 'Poppins',sans-serif;
}

.disappear {
    display: none;
}

@keyframes dropIn {
    0% {
        display: none;
        top: -50px;
        opacity: 0;
    }
    10% {
        opacity: 1;
        display: block;
        top: 50px;
    }
    80% {
        opacity: 0.7;
        top: 50px;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
}

@media (width < 400px) {
    .signup-form {
        width: 290px;
    }

    .signup-form h3 {
        font-size: 25px;
    }

    button {
        margin-top: 20px;
    }

    .create-msg {
        margin-top: 20px;
        font-size: 80%;
    }
}