.upload-body {
  margin: 0;
  padding: 0;
  background-image: url(page-icons/upload-bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  align-items: center;
  justify-content: center;
}

.upload-title-text {
  text-align: center;
  margin-top: 170px;
  padding: 0;
  font-size: 60px;
  color: rgb(27, 5, 99);
  background-color: #fbf88b;
  border-radius: 20px;
  padding: 10px;
}

.upload-title {
  display: flex;
  width: auto;
  padding: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.upload-button {
  display: flex;
  padding-top: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.upload-button input {
  font-size:16px;
}

@media (max-width:1200px) , (max-height:475px) {

  .upload-title {
    margin-bottom: 0;
  }

  .upload-title-text {
    font-size: 40px;
    bottom:50%;
    position:fixed;
  }

  .switchButton {
    bottom:35%;
    position:fixed;
  }

}