  #menu-toggle {
    display: none;
  }

  #menu-label {
    display: none;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(140, 24, 24);
    cursor: pointer;
    left: 0;
    padding: 16.5px;
    padding-right: 5px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5ef0af;
  }
  
  .container {
    display: flex;
    background-color: white;
  }
  
  .leftNav {
    width: 40%;
    padding: 20px 0px 20px 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(140, 24, 24);
  }
  
  .rightNav {
    flex: 1;
    padding: 22px;
    display: flex;
    justify-content: space-between;
  }
  
  .rightNav a {
    font: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .verticalNav {
    width: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 67px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: width 0.3s ease;
  }

  .verticalNav a {
    font: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding-top: 15px;
  }

  #menu-toggle:checked ~ .verticalNav  {
    width: 200px;
  }

  .mainText,
  .textContent {
    width: 675px;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.25px;
    margin: auto;
    padding: 50px;
  }
  
  .textContent {
    width: auto;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -0.20px;
    text-align: center;
  }
  
  .switchButton {
    border: 3px solid #2076c2;
    border-radius: 20px;
    color: black;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    background-color: rgb(249, 207, 255);
  }
  
  .buttonArea {
    text-align: center;
  }
  
  @media (max-width: 775px) {
    .rightNav {
      display: none;
    }
  
    #menu-label {
      display: flex;
    }

    .mainText,
    .textContent {
      width: auto;
      display: flex;
      flex-direction: column;
    }
  }