.progress-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 92.8px);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
  }
  
  .box {
    flex: 0 0 calc(33.333% - 20px); 
    margin-bottom: 20px;
    background-color: white;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius:20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .top-text {
    font-size: 20px;
    text-align: center;
  }
  
  .mid-text {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
  }
  
  .bottom-text {
    font-size: 20px;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none;
    text-align: center;
  }
  
  
  @media (max-width: 750px) {
    .box {
      flex: 0 0 100%;
    }
  }