.progress-title-text{
  font-size:100px;
  margin:0 0 0 80px;
  padding:0;
  color:white;
}
.progress-text{
  font-size:20px;
  margin:0 0 0 90px;
  padding:0;
  color:white;
}

.progress-body {
  margin:0;
  padding: 0;
  background-image: url(file:///Users/yovelaadelinabudiman/Desktop/progress-background.png);
  background-position: center;
  background-size: cover;
  height:100vh;
  font-family: 'Arial', sans-serif;
  align-items: center;
  justify-content: center;
  
}

.progress-table {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px; 
 
}

.progress-box{
  border-bottom: 1px solid #e1f1ff;
  border-radius: 20px;
  padding: 50px;
  margin: 10px;
  background-color: white;
}


.progress-icons {
  margin-bottom: 25px;
  max-width: 100%;
}

.progress-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.progress-description {
  margin: 25px;
  color: #000000;
}

.progress-description-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.progress-amount {
  color: #016ff9; 
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin-top:25px;
}

@media (min-width: 1000px){
  .progress-table {
    flex-direction: row;
  }
  .progress-box {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .progress-box:last-child {
    border-right: none;
  }
}